# General
# ------------------------------------------------------------------------------
USE_DOCKER=yes
IPYTHONDIR=/app/.ipython

# Mail
# ------------------------------------------------------------------------------
EMAIL_HOST=riso.one

# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://:sky9redis@riso.one:26379/4

# Celery
# ------------------------------------------------------------------------------
CELERY_BROKER_URL=redis://:sky9redis@riso.one:26379/4
CELERY_NAMESPACE=CELERY_LOCAL

# Flower
CELERY_FLOWER_USER=binn
CELERY_FLOWER_PASSWORD=password
